.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90px;
  background: #222;
}

.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer__logo {
  font-size: 2rem;
  text-decoration: none;
}

.footer__copyright {
  color: orangered;
  font-size: 0.8rem;
  padding-top: 6px;
}

.footer__social {
  display: flex;
}